# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
physipy-env/

# Packaging artifacts
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Images
imgs/

# Specific notebooks
quantum_statistics.ipynb

# MacOS related stuff
.DS_Store

# VSC related stuff
.vscode/